* {
    box-sizing: border-box;
    margin: 0;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    font-weight: 400;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    font-weight: 700;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #d2c0aa;
}

::-webkit-scrollbar-thumb {
    background: #4c5d78;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #334455;
}

html {
    scroll-padding-top: 12vh;
}

body {
    background-color: #faf8f2;
    scroll-behavior: smooth;
}

header {
    align-items: center;
    background-color: #d2c0aa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    height: 10vh;
    justify-content: center;
    position: sticky;
    top: 0;
}

.headerTitleBox {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 30%;
}

.headerTitle {
    color: #334455;
    text-align: center;
}

nav {
    align-items: center;
    background-color: #bda27e;
    border-radius: 20px 0 0 20px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 2%;
    width: 70%;
}

a {
    text-decoration: none;
}

.navText {
    color: #334455;
    text-align: center;
}

.navText2 {
    color: #4c5d78;
    text-align: center;
}

.navText:hover, .navText2:hover {
    text-decoration: underline;
}

article {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 95vh;
}

.sectionArticle2 {
    background-color: #e7e0ce;
    box-shadow:
            0 8px 8px rgba(240, 236, 224, 0.8),
            0 -8px 8px rgba(240, 236, 224, 0.8);
}

.contentDiv {
    align-items: center;
    background-color: #f8f6f0;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(200, 198, 192, 0.75);
    display: flex;
    height: 90%;
    justify-content: center;
    width: 90%;
}

.contentDiv2 {
    align-items: center;
    background-color: #e5decc;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(170, 168, 162, 0.75);
    display: flex;
    height: 90%;
    justify-content: center;
    width: 90%;
}

#aboutContent {
    justify-content: space-evenly;
}

.picFrame {
    align-items: center;
    background-color: #f6f4ee;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(25, 81, 117, 0.2);
    display: flex;
    height: 80%;
    justify-content: center;
    width: 25%;
}

.aboutFrame {
    align-items: center;
    display: flex;
    height: 80%;
    justify-content: center;
    width: 45%;
}

#aboutText {
    color: #334455;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
}